
/* Header*/
.header {
  width: 100%;
  background-color: #f8f9fa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  width: 90%;
  margin: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/* زر الأيقونة (الوضع الليلي) */
.icon-btn {
  background: transparent;
  border: none;
  color: #2563eb;
  font-size: 22px;
  cursor: pointer;
  margin-right: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-btn:hover {
  color: #1e40af;
  transform: scale(1.2);
}

/* زر تسجيل الدخول */
.btn-login {
  background-color: #2563eb;
  color: white;
  padding: 10px 36px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-login:hover {
  background-color: #1e40af;
  transform: translateY(-2px);
}

/* الوضع الليلي */
.header.dark {
  background-color: #0f172a;
  color: #fff;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
}

.btn-login.dark {
  background-color: #fff;
  color: #2563eb;
}

.btn-login.dark:hover {
  background-color: #e2e8f0;
}